@use "theme.scss";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

/* 自定義 Scrollbar */
@mixin scroll-bar-style {
  &::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--primary-color);
    border-radius: 3px;
  }

  &::-webkit-scrollbar-track {
    background-color: #e0e0e0;
  }
}

* {
  @include scroll-bar-style;
}

body {
  font-family: "Noto Sans TC", serif;
  font-size: 16px;
  font-weight: 400;
}

.max-page-width {
  max-width: 1439px;
  margin: 0 auto;
  @include set-rwd(md) {
    padding: 0 30px;
  }
}

.q-menu {
  border-radius: 10px;
}
