@use "theme.scss";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

/* 自定義 Scrollbar */
@mixin scroll-bar-style {
  &::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--primary-color);
    border-radius: 3px;
  }

  &::-webkit-scrollbar-track {
    background-color: #e0e0e0;
  }
}

/* 適用於 Chrome、Safari、Edge、Opera */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* 適用於 Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

* {
  @include scroll-bar-style;
}

html {
  font-size: 16px;
  @include set-rwd(md) {
    font-size: 14px;
  }
}

body {
  font-weight: 400;
  color: var(--secondary-color);
  letter-spacing: 1px;
  font-family: "Noto Sans TC", sans-serif;
  font-size: 1rem;
}

.max-page-width {
  max-width: 1439px;
  margin: 0 auto;
  @include set-rwd(lg) {
    padding: 0 30px;
  }
}

.m-0 {
  margin: 0;
}

.q-menu {
  border-radius: 10px;
}

.tag-container-ul {
  list-style-type: none;
  padding-left: 0;

  li {
    margin: 5px 0;
    display: flex;
    align-items: baseline;
    gap: 5px;
  }

  .tag {
    background-color: var(--primary-dark-hover-color);
    border-radius: 10px;
    padding: 0 10px;
    flex: 0 0 155px;
    display: flex;
    justify-content: space-between;
  }

  .text {
    color: var(--gray-color);
    font-weight: 300;
  }

  @include set-rwd(sm) {
    .tag {
      flex: 0 0 135px;
    }
  }
}

.q-field--rounded {
  .q-field__control {
    background: var(--primary-hover-color);
    padding: 0 1rem;
    &::before {
      border: none;
    }
    &::after {
      transform: none;
    }
    &:hover:before {
      border: 1px solid;
    }
    .q-field__native {
      color: var(--secondary-color);
      font-size: 1rem;
    }
  }

  &.q-field--dense .q-field__bottom {
    font-size: 0.875rem;
  }

  &.q-field--readonly {
    .q-field__control {
      background-color: #A39991;
      &:before {
        border-style: none;
      }
      .q-field__native {
        color: white;
      }
    }
  }
}

.calendar-inline {
  color: var(--secondary-color);
  box-shadow: none;
  border-radius: 10px;
  width: 100%;
  background-color: var(--primary-hover-color);
  position: relative;
  height: 370px;

  .q-date__navigation { // 隱藏年份、月份
    padding-bottom: 10px;
    div:first-child {
      justify-content: flex-start;
    }
    .q-date__arrow .q-icon {
      font-size: 1.5rem;
    }
    :not(.q-date__arrow) button {
      pointer-events: none;
      opacity: 0;
    }
    > div:nth-last-child(-n + 3) {
      display: none;
    }
  }

  .q-date__actions { // 客製化月份
    padding: 0;
    .current-year-month-title {
      position: absolute;
      width: 130px;
      top: 18px;
      left: calc(50% - 65px);
      text-align: center;
      font-size: 1.125rem;
      font-weight: 500;
    }
  }

  .q-date__calendar-weekdays {
    border-bottom: 1px solid #998e8645;
    padding-bottom: 5px;
    margin-bottom: 5px;
    > div {
      font-size: 1rem;
      opacity: 1;
    }
  }

  .q-date__calendar-days-container {
    .q-date__calendar-item {
      padding: 5px;
      .q-btn {
        font-size: 1rem;
        width: 2rem;
        height: 2rem;
        line-height: 1.2;
        &.bg-active {
          background-color: var(--primary-dark-hover-color);
        }
        &.q-date__today {
          box-shadow: none;
        }
      }
    }
  }

  .q-ripple {
    display: none !important;
  }
}