@use "sass:map";
// 定義斷點，參考 quasar
// https://quasar.dev/style/visibility#window-width-related
$breakpoints: (
  xs: 576px,
  sm: 768px,
  md: 1024px,
  lg: 1439px,
  xl: 1919px
);

// Mixins for breakpoints
@mixin set-rwd($breakpoint) {
  @media (max-width: map.get($breakpoints, $breakpoint)) {
    @content;
  }
}
