/* 系統顏色 */
:root {
  --primary-color: #f9d673;
  --primary-hover-color: #fffaf2;

  --primary-light-color: #f8eecc;
  --primary-light-hover-color: #f1dd9a;

  --primary-dark-color: #B49060;

  --secondary-color: #998e86;
  --secondary-dark-color: #89847f;

  --gray-color: #b1b1b1;
}
  