/* 系統顏色 */
:root {
  // 覆蓋 quasar
  --q-primary: #f9d673;
  --q-secondary: #998e86;

  // 自定義
  --primary-color: #f9d673;
  --primary-hover-color: #fffaf2;

  --primary-light-color: #f8eecc;
  --primary-light-hover-color: #f1dd9a;

  --secondary-color: #998e86;
  --secondary-dark-color: #89847f;
}
  